.ns-link {
  text-decoration: none;
}
.ns-link:hover {
  text-decoration: none;
}

.ns-card {
  background-color: #48bfdd;
  color: white;
  font-size: 1.1rem;
}

.ns-card:hover {
  background-color: #328295;
}